* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --primary: #f0ae43;
  --brown: #3f201e;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
}

.presentation {
  height: 100vh;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation > button {
  margin-top: 40rem;
  width: 20rem;
  height: 4rem;
  background-color: white;
  border: none;
  border-radius: 1rem;
  color: cadetblue;
  font-weight: 900;
}

.navbar {
  /* height: 5rem; */
  width: 100%;
  position: fixed;
  padding: 2rem 1rem;
  left: 0px;
}

.navbar > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.navbar > ul > li {
  margin: 0 1rem;
}

.navbar > ul > li > a {
  color: cadetblue;
  text-decoration: none;
}

.main {
  height: 100vh;
}

.section {
  height: 100%;
  padding: 8rem 1rem;
}

.section:nth-child(1) {
  background-color: coral;
}

.section:nth-child(2) {
  background-color: rebeccapurple;
}

.section:nth-child(3) {
  background-color: greenyellow;
}

.section:nth-child(4) {
  background-color: wheat;
}
